@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  background-color: #696FC7;
  color: white;
}

h2{
 color: white;
    font-size: 50px;
}

#parrafo1{
    color: white;
    background-color: #4A90E2;
    border-radius: 20px;
}

#mensajes{
    color: white;
}

#titulo{
color: white;
font-size: 50px;
margin-top: 100px;

}

#subtitulo{
    color: white;
    font-size: 30px;

}


#Seleccionar-mascota{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mascotas-seleccion{
    width: 260px;
    height: 150px;
    background-color: #A7AAE1;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    
}

input{
    display: none;
}
input:checked + label{
    border: 1px solid #4A90E2;
    background-color: #4A90E2;
    border-color: black;
}
#Seleccionar-ataque{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones-ataque{
     display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 20px;              
  margin-top: 15px;
}

.botones-ataque button{
padding: 10px;
border-radius: 15px;
border-color: transparent;
  
}
#botonreiniciaqr{
    display: block;
}


.tarjetas img{
    width: 100px;
    padding: 10px;
}


.tarjetas,.botones-ataque{
    display: flex;
    gap: 10
}
#boton-seleccion-mascota{
    border-radius: 20px;
    height: 100px;
    width: 125px;
    padding: 10px;
    border-color: black;
    margin-top: 20px;
    background-color: #4A90E2;
    color: white;
 font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  
}

.info-vidas{
 margin-top: 20px;
}

#mensajes{
    margin-top: 20px;
}

#ataquef{
    background-color: orange;
    border-radius: 20px;
    border-color: black;
}
#ataquea{
    background-color: blue;
    border-radius: 20px;
    border-color: black;
}
#ataquet{
    background-color: brown;
    border-radius: 20px;
    border-color: black;
}
#resultado,
#ataque_del_jugador,
#ataque_del_enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;      
  text-align: center;       
  gap: 8px;
  margin-top: 20px;
}
#reiniciar {
  display: none;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}
#mensajes {
  display: none;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: cadetblue;
  width: 280px;
}

#botonreiniciar{
    border: none;
    color: cornflowerblue;
}

.vidas-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 25px;
  justify-items: center; 
  align-items: center;  
 }
 
#parrafo2{
    color: white;
    margin-left: 100px;
    background-color: #4A90E2;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .tarjetas,.botones-ataque {
        flex-direction: column;
        height: auto;
        width: auto;
    }   
      #Seleccionar-mascota {
        height: auto;
        width: auto;
    }
}
.imagen-mascota{
    border-radius: 2px;
}
#resultado{
    border-radius: 1px;
}
#boton-seleccion-mascotas{
  padding: 10px;
  background-color: cadetblue;
}